.section-accent {
  padding-top: 94px;
  padding-bottom: 0;
}

.accent {
  display: flex;
  align-items: baseline;

  &__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    text-transform: uppercase;
    color: $title-color;
  }

  &__paragraph {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.accent__item {
  max-width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.accent__item::before {
  display: block;
  content: "";
  height: 120px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.accent__iconantenna::before {
  background-image: url(../images/icons/antenna.svg);
}

.accent__iconclock::before {
  background-image: url(../images/icons/clock.svg);
}

.accent__icondiagram::before {
  background-image: url(../images/icons/diagram.svg);
}

.accent__iconastronaut::before {
  background-image: url(../images/icons/astronaut.svg);
}
