.clients-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-icons__item + .clients-icons__item {
  margin-left: 30px;
}

.clients-icons__icon {
  transition: fill $animation;
}

.clients-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid $icons-color;
  border-radius: 4px;
  fill: $icons-color;

  transition: border $animation;
}

.clients-icons__link:hover,
.clients-icons__link:focus {
  border-color: $accent-color;
}

.clients-icons__link:hover .clients-icons__icon,
.clients-icons__link:focus .clients-icons__icon {
  fill: $accent-color;
}
