.clients-icons {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item + &__item {
    margin-left: 30px;
  }
}

.clients-icons__icon {
  @include transition(fill);

  .clients-icons__link:hover &,
  .clients-icons__link:focus & {
    fill: $accent-color;
  }
}

.clients-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid $icons-color;
  border-radius: 4px;
  fill: $icons-color;
  @include transition(border);

  &:hover,
  &:focus {
    border-color: $accent-color;
  }
}
