.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $dark-bg-color;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.container__one,
.container__two {
  margin-right: 30px;
  flex-basis: calc((50% - 45px) / 2);
}

.web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  color: $accent-color;
}

.studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  color: $dark-bg-text-color;
  text-decoration: none;
}

.address {
  font-style: normal;
  margin-top: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  color: $dark-bg-text-color;
}

.address__link--color {
  color: rgba(255, 255, 255, 0.6);
}

.container__one,
.container__two {
  margin-right: 30px;
  flex-basis: calc((50% - 45px) / 2);
}

.container__three {
  flex-basis: calc(50% - 15px);
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $dark-bg-text-color;
}

.social-icons__link--bgcolor {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-icons__icon--fill {
  fill: $dark-bg-text-color;
}

.subscribe__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe__input {
  width: 360px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $dark-bg-color;
  cursor: pointer;

  transition: border $animation;
}

.subscribe__input:hover {
  border: 1px solid $accent-color;
}

.subscribe__input:focus {
  background-color: $dark-bg-color;
  color: $dark-bg-text-color;
}

.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__button {
  display: flex;
  align-items: center;
  min-width: 200px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  border: 1px solid transparent;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: $dark-bg-text-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color $animation;
}

.subscribe__button:hover,
.subscribe__button:focus {
  background-color: #188ce8;
}

.subscribe__icon {
  fill: $dark-bg-text-color;
  margin-left: 10px;
}
