.header {
  border-bottom: #ececec solid 1px;

  &__container {
    display: flex;
    align-items: center;
  }
}

.logo__link {
  display: inline-block;
}

.logo__item {
  padding-top: 24px;
  padding-bottom: 26px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: $accent-color;
}

.logo {
  padding-top: 24px;
  padding-bottom: 26px;
  margin-right: 90px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: $title-color;
}

.menu {
  display: inline-flex;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }
}

.menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $title-color;

  &--current {
    position: relative;
    color: $accent-color;
  }

  &--current::after {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    display: inline-flex;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: $icons-color;
  @include transition(fill);

  .contacts__link:hover &,
  .contacts__link:focus & {
    fill: $accent-color;
  }
}
